.homepage-wrapper{
    display: flex;
    gap: 20px;
}
.signup-btn{
    width: 120px;
    height: 45px;
    font-size: 16px;
    background-color: blue;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}
.signup-btn:hover{
    background-color: rgba(0, 0, 255, 0.88);
}
.login-btn:hover{
    background-color: rgba(255, 255, 255, 0.22);
}
.login-btn{
    width: 120px;
    height: 45px;
    font-size: 16px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.109);
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form input{
    padding: 10px 30px;
    font-size: 16px;
    outline: none;
    border-radius: 7px;
    border: none;
    background-color: rgba(0, 0, 0, 0.24);
    color: white;
}
form button{
    margin-top: 7px;
    padding: 10px 30px;
    font-size: 16px;
    outline: none;
    border-radius: 7px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
p span{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.logout-btn{
    margin-top: 7px;
    padding: 10px 30px;
    font-size: 16px;
    outline: none;
    border-radius: 7px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}